<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

</div>

<form [formGroup]="billForm">
  <div class="row new-form">
    <div class="col-md-3">
      <input type="text" [formControlName]="date">
    </div>
    <div class="col-md-1">
      <input type="text" [formControlName]="amount">
    </div>
    <div class="col-md-3">
      <input type="text" [formControlName]="title">
    </div>
    <div class="col-md-3">
      <input type="text" [formControlName]="description">
    </div>
    <div class="col-md-2">
      <input type="text" [formControlName]="category">
    </div>
  </div>
</form>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->